#koke{
    height: 10vh;
}

#az{
    height: 10vh;
    width: 10vh;  
    gap: 8px;       
}

#piton{
    height: 10vh;
    width: 10vh;    
    gap: 8px;       
}

#cssphoto{
    height: 12vh;
    width: 10vh;   
    gap: 8px;       
}

header{
    height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}



body{
    background: linear-gradient(to bottom, #000000, #070145, #0a0169, #0c017d);
    height: auto;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}

h1{
    font-size: 46pt
}

#recuadro{
    background-color: #0b017d54;
    border: 2px rgba(255, 255, 255, 0.3);
    display: flex;
    text-align: center;
    flex-direction: column; 
    justify-content: center;
    justify-items: center;
    justify-self: center;
    margin-left: 20vh;
    margin-right: 20vh;
}

#tech{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.imagenes{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

br{
    height: 5vh;
}

#js{
    height: 10vh;
    width: 10vh;  
    gap: 8px; 
}

#yc{
    height: 15vh;
    width: 10vh;  
    gap: 8px;
}

#html{
    height: 10vh;
    width: 10vh;  
    gap: 8px;
}

#answer1{
    height: 10vh;
    width: 10vh;
}

#primera{
    display: flex;
    justify-content: space-evenly;
}

#answer1{
    visibility: hidden;
    height: 10vh;
    width: 10vh;
}


#answer3{
    visibility: hidden;
    height: 10vh;
    width: 10vh;
}

#I3{
    min-width: 10vh;
    min-height: 10vh;
}

#I1{
    min-width: 10vh;
    min-height: 10vh;
}

#answer2{
    visibility: hidden;
    height: 10vh;
    width: 10vh;
}

#I2{
    min-width: 10vh;
    min-height: 10vh;
}

#answer4{
    visibility: hidden;
    height: 10vh;
    width: 10vh;
}

#I4{
    min-width: 10vh;
    min-height: 10vh;
}

#answer5{
    visibility: hidden;
    height: 10vh;
    width: 10vh;
}

#I5{
    min-width: 10vh;
    min-height: 10vh;
}

#answer6{
    visibility: hidden;
    height: 10vh;
    width: 10vh;
}

#I6{
    min-width: 10vh;
    min-height: 10vh;
}
