#koke{
    height: 10vh;
}

#az{
    height: 10vh;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 8px;       
}

#piton{
    height: 10vh;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 8px;       
}

#css{
    height: 10vh;
    display: flex;
    flex-direction: column; 
    align-items: center;    
    gap: 8px;       
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
}

body{
    background: linear-gradient(to bottom, #000000, #070145, #0a0169, #0c017d);
    height: 150vh;
    color: white;
    margin: 0;
}

h1{
    font-size: 46pt
}

br{
    height: 5vh;
}

.recuadro {
    background-color: #0b017d54;
    border: 2px solid rgba(255, 255, 255, 0.3);
    border-radius: 15px;
    text-align: center;
    display: flex;
    flex-direction: column; 
    justify-content: center;
    justify-items: center;
    width: 75vh;
}
