#recuadro {
    background-color: #0b017d54;
    border: 2px rgba(255, 255, 255, 0.3);
    display: flex;
    text-align: center;
    flex-direction: column; 
    justify-content: center;
    justify-items: center;
    justify-self: center;
    align-items: center;
    margin-left: 20vh;
    margin-right: 20vh;
}

button {
    background-color: white;
    height: 10vh;
    min-height: 10pt;
    width: 15vw;
    min-width: 15pt;
}

button:hover {
    background-color: rgb(212, 255, 169);
}

header {
    height: 15vh;
    min-height: 72pt;
    display: flex;
    justify-content: center;
    align-items: center;
}

main {
    height: 145vh;
    min-height: 72pt;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
}

#koke {
    height: 10vh;
}

#css {
    height: 15vh;
    width: 10vh;
}

#html {
    height: 10vh;
    width: 10vh;
}

#piton {
    height: 10vh;
    width: 10vh;
}

#c {
    height: 10vh;
    width: 15vh;
}

#php {
    height: 10vh;
    width: 15vh;
}

#java {
    height: 15vh;
    width: 15vh;
}

h1 {
    font-size: 46pt;
}

body {
    background: linear-gradient(to bottom, #000000, #070145, #0a0169, #0c017d);
    height: 200vh;
    color: white;
    margin: 0;
    display: flex;
    flex-direction: column;
}
